<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.ig.observer.pniewinski">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>

  <application
    android:allowBackup="true"
    android:configChanges="orientation|keyboardHidden|screenSize"
    android:icon="@drawable/ic_magnifying_glass"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".activities.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <receiver
      android:name=".service.AlarmReceiver"
      android:process=":remote">
    </receiver>

    <service
      android:exported="false"
      android:name=".service.IgService"/>

    <activity
      android:label="@string/title_activity_settings"
      android:name=".activities.SettingsActivity"
      android:parentActivityName=".activities.MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="org.ig.observer.pniewinski.activities.MainActivity"/>
    </activity>
    <activity
      android:label="@string/title_activity_settings"
      android:name=".activities.UserSettingsActivity"
      android:parentActivityName=".activities.MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="org.ig.observer.pniewinski.activities.MainActivity"/>
    </activity>
    <activity
      android:label="@string/title_activity_history"
      android:name=".activities.HistoryActivity"
      android:parentActivityName=".activities.MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="org.ig.observer.pniewinski.activities.MainActivity"/>
    </activity>
  </application>

</manifest>